<html>
    <head>
        <title>Notes App</title>
    </head>
    <body>
        <h1 class= "main-title">Notes</h1>
        <div class= "main-bar" >
            <form>
                <input type="text" class="note-submit">
                <button type="submit" class="submit-button">Submit</button>
            </form>
            <ul>
                <li>An Item</li>
            </ul>
      </div>
    </body>
</html>